{{- $date := "" -}}
{{- if .Date }}
{{- $date = .Date -}}
{{- else if .Params.date }}
{{- $date = .Params.date -}}
{{- end -}}

{{- if $date }}
<span title='{{ $date.Format "2006-01-02" }}'>{{ $date.Format "January 2, 2006" }}</span>
{{- end -}}

{{- if .Params.authors }}
<span> · {{ range first 1 .Params.authors }}<a href="{{ "authors" | relLangURL }}/{{ urlize . }}/">{{ . }}</a>{{ end }}</span>
{{- end -}}

{{- if .Params.original_url }}
<span> · <a href="{{ .Params.original_url }}" target="_blank" rel="noopener noreferrer">Original Story</a></span>
{{- end -}}

{{- if .Params.tags }}
<div class="post-tags">
    {{- range .Params.tags }}
    {{- $tag := . }}
    {{- $type := printf "%T" $tag }}
    {{- if findRE "\\[\\]" $type }}
        {{- range $tag }}
        <a href="{{ "tags" | relLangURL }}/{{ urlize . }}/" class="post-tag">{{ . }}</a>
        {{- end }}
    {{- else }}
    <a href="{{ "tags" | relLangURL }}/{{ urlize $tag }}/" class="post-tag">{{ $tag }}</a>
    {{- end }}
    {{- end }}
</div>
{{- end -}}
